@font-face {
  font-family: 'MaruBuri-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
 }
 
 @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
 }
 
 @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
 }

:root{
  --max-width: 1200px;
  --font-bold: 700;
  --font-light: 300;
}
/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - https://cssdeck.com/blog/ */
html{color:#3B3B3B;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

*{
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1d1f26;
  word-break: keep-all;
  box-sizing: border-box;
}
body{-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
div{box-sizing: border-box;}
input, textarea{outline: none;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:none;
}
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
select::-ms-expand { display: none; }

.mobile{display: none;}

/* section 공통 */
.section .section__container{
  max-width: var(--max-width);
  margin: 0 auto;
}
.section .section__title{
  font-size: 46px;
  font-weight: var(--font-bold);
  padding-top: 200px;
  text-align: center;
}
.section .section__subtitle{
  font-size: 26px;
  margin-top: 24px;
  text-align: center;
  font-weight: var(--font-light);
}
.section .section__caption{
  max-width: var(--max-width);
  font-size: 26px;
  font-weight: var(--font-bold);
  color: #ffffff;
  margin: 0 auto;
  padding: 50px 0px 25px 0px;
}
.section .section__tag{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
}
.section .section__tag span{
  display: inline-block;
  padding: 13px 10px;
  background-color: #f7f7f7;
  color: #444444;
  font-weight: var(--font-light);
}
.section .section__tag span + span{
  margin-left: 30px;
}

/* form 공통 */
form input, form textarea, form select{
  flex: 1;
  border: 1px solid #d6d6d6;
  background-color: #ffffff;
  padding: 20px;
  font-size: 18px;
  font-weight: var(--font-light);
}
form input{
  height: 70px;
  line-height: 70px;
}
form textarea{
  height: 145px;
  resize: none;
}
form select{
  background-image: url(/content/media/icon/arrow_down.svg);
  background-size: 40px;
  background-position-x: 98%;
  background-position-y: center;
  background-repeat: no-repeat;
}
form input::placeholder, form textarea::placeholder{
  color: #b1b1b1;
}
form .form__item{
  display: flex;
  justify-content: center;
  align-items: center;
}
form .form__item + .form__item{
  margin-top: 24px;
}
form .form__item p{
  font-weight: var(--font-bold);
  width: 120px;
}
.contact__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}
.contact__btn p{
  width: 298px;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  font-weight: var(--font-bold);
  color: #ffffff;
  background-color: #1d1f26;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
.contact__btn p:nth-child(2){
  background-color: transparent;
  color: #1d1f26;
  border: 1px solid #1d1f26;
}
.contact__btn p a{
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: var(--font-bold);
  text-decoration: none;
}
/* header 공통 */
.section.section__header{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 19;
}
.section.section__header.scrolled{
  background-color: #1d1f26;
}
.section.section__header .section__container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section.section__header .header__box{
  flex: 1;
}
.section.section__header .header__box.icon__box{
  display: flex;
}
.section.section__header .header__box.link__box{
  display: flex;
  justify-content: flex-end;
}
.section.section__header .header__box.link__box p{
  font-size: 18px;
  font-weight: var(--font-bold);
  color: #ffffff;
  cursor: pointer;
}
.section.section__header .header__box.link__box p + p{
  margin-left: 48px;
}
.section.section__header .header__logo{
  width: 177px;
  height: 53px;
}
.section.section__header .header__menu{
  display: none;
  width: 28px;
  height: 28px;
  background-image: url(/content/media/icon/menu.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section.section__header.open .header__menu{
  background-image: url(/content/media/icon/close.svg);
}
.section.header__mo{
  display: none;
}

/* footer 공통 */
.section.section__footer{
  background-color: #1d1f26;
  padding: 143px 0px 133px 0px;
}
.section.section__footer .section__container{
  display: flex;
  justify-content: space-between;
}
.section.section__footer p{
  color: #ffffff;
}
.section.section__footer p.company{
  font-weight: var(--font-bold);
  padding-bottom: 38px;
}
.section.section__footer p.tel{
  font-size: 23px;
  font-weight: var(--font-bold);
  padding-bottom: 11px;
}
.section.section__footer p.email{
  font-weight: var(--font-light);
}
.section.section__footer p.ceo,
.section.section__footer p.address,
.section.section__footer p.business{
  font-weight: var(--font-light);
  line-height: 26px;
}
.section.section__footer p.copyright{
  font-weight: var(--font-light);
  color: #a5a5a5;
  padding-top: 16px;
}
.section.section__footer .footer__box.icon__box{
  display: flex;
}

/* icon 공통 */
.icon{
  display: inline-block;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff1a;
  border-radius: 50%;
  cursor: pointer;
}
.icon + .icon{
  margin-left: 4px;
}
.icon i{
  display: inline-block;
  width: 21px;
  height: 21px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.icon.icon--insta i{
  background-image: url(/content/media/icon/insta.svg);
}
.icon.icon--youtube i{
  background-image: url(/content/media/icon/youtube.svg);
}
.icon.icon--shopping i{
  background-image: url(/content/media/icon/shopping.svg);
}
.icon.icon--blog i{
  background-image: url(/content/media/icon/blog.svg);
}

/* swiper */
.swiper-pagination-bullet{
  background-color: #acafb5;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #000000;
}
.swiper-pagination-clickable.swiper-pagination-bullets{
  position: unset;
  margin-top: 50px;
  text-align: center;
}
.swiper-pagination-clickable.swiper-pagination-bullets span + span{
  margin-left: 21px;
}
.swiper-button-prev, .swiper-button-next{
  width: 67px;
  height: 67px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #eaeaea;
  border-radius: 34px;
  opacity: 0.7;
}
.swiper-button-prev {
  right: calc(100% - 380px);
  left: unset;
}
.swiper-button-next {
  left: calc(100% - 380px);
  right: unset;
}
.swiper-button-prev::after, .swiper-button-next::after{
  content: "";
  width: 25px;
  height: 25px;
}
.swiper-button-prev::after{
  background-image: url(/content/media/icon/left-arrow-25-px.svg);
}
.swiper-button-next::after{
  background-image: url(/content/media/icon/right-arrow-25-px.svg);
}

/* loading 공통 */
.loading{
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}
.loading p{
  width: 300px;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 12px;
  text-align: center;
}

@media all and (max-width: 1919px){
  .swiper-button-prev {
    right: calc(100% - 140px);
    left: unset;
  }
  .swiper-button-next {
    left: calc(100% - 140px);
    right: unset;
  }
}

@media all and (max-width: 768px){
  .mobile{display: block;}

  .section .section__title{
    font-size: 28px;
    padding-top: 60px;
  }
  .section .section__subtitle{
    font-size: 16px;
    margin-top: 10px;
  }
  .section .section__caption{
    font-size: 18px;
    font-weight: var(--font-bold);
    color: #ffffff;
    margin: 0 auto;
    padding: 35px 25px 15px 25px;
  }
  .section .section__tag span{
    font-size: 11px;
    padding: 5px 6px;
  }
  .section .section__tag span + span{
    margin-left: 7px;
  }

  .swiper-pagination-clickable.swiper-pagination-bullets{
    margin-top: 20px;
  }
  .swiper-pagination-clickable.swiper-pagination-bullets span + span{
    margin-left: 10px;
  }

  .swiper-button-prev, .swiper-button-next{
    display: none;
  }

  form .form__item{
    flex-direction: column;
    align-items: flex-start;
  }
  form .form__item p{
    font-size: 15px;
    padding-bottom: 7px;
  }
  form input, form select{
    width: 100%;
    height: 43px;
    line-height: 43px;
    padding: 0px 10px;
    font-size: 15px;
    font-weight: var(--font-light);
  }
  form textarea{
    width: 100%;
    height: 160px;
    padding: 15px 10px;
    flex: auto;
    font-size: 15px;
    font-weight: var(--font-light);
  }
  form select{
    background-size: 23px;
  }
  .contact__btn{
    flex-direction: column;
    padding: 0px 25px;
  }
  .contact__btn p{
    width: 100%;
    font-size: 15px;
  }
  .contact__btn p + p{
    margin-top: 20px;
  }
  .contact__btn p a{
    font-size: 15px;
  }
  .section.section__header{
    height: 60px;
  }
  .section.section__header.open{
    background-color: #1d1f26;
  }
  .section.section__header .section__container{
    padding: 0px 25px;
  }
  .section.section__header .header__box.icon__box{
    display: none;
  }
  .section.section__header .header__logo{
    width: 101px;
    height: 31px;
  }
  .section.section__header .header__box.link__box p{
    font-size: 15px;
  }
  .section.header__mo{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1d1f26;
    padding: 20px 30px;
    position: fixed;
    top: 60px;
    z-index: 19;
  }
  .section.header__mo.open{
    transition: opacity 0.3s linear;  
    transform:translate(0);
    opacity: 1;
  }
  .section.header__mo.close{
    transform:translate(9999px);
    opacity: 0;  
  }
  .section.header__mo .link__item{
    height: 60px;
    line-height: 60px;
    text-align: left;
    font-size: 17px;
    font-weight: var(--font-bold);
    color: #ffffff;
  }
  .section.header__mo .link__box{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .section.header__mo .link__box p + p{
    margin-left: 15px;
  }

  .section.section__footer{
    padding: 40px 0px;
    padding-bottom: calc(40px + constant(safe-area-inset-bottom));
    padding-bottom: calc(40px + env(safe-area-inset-bottom));
  }
  .section.section__footer .section__container{
    flex-direction: column;
    padding: 0px 25px;
  }
  .section.section__footer p.company{
    font-size: 14px;
    padding-bottom: 23px;
  }
  .section.section__footer p.tel{
    font-size: 15px;
  }
  .section.section__footer p.email{
    font-size: 12px;
    padding-bottom: 43px;
  }
  .section.section__footer p.ceo, .section.section__footer p.address, .section.section__footer p.business{
    font-size: 12px;
  }
  .section.section__footer p.copyright{
    font-size: 12px;
    padding-top: 10px;
  }
  .section.section__footer .footer__box.icon__box{
    margin-top: 26px;
  }
  .icon{
    width: 35px;
    height: 35px;
  }
}

@keyframes openMenu{
  0% {display: none;}
  100% {display: flex;}
}